@(threads: Seq[controllers.ThreadOutputer])(threadForm: Form[forms.Thread])(implicit messages: Messages)

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>a</title>
</head>
<body>

  <ul>
    @threads.map { thread =>
      <li>
        <a href='@routes.Thread.index(thread.id)'>@thread.title&nbsp<span>@thread.getResCount()</span></a>
        @helper.form(action = routes.Thread.delete(thread.id), 'method -> "POST") {
          <button type="submit">delete</button>
        }
      </li>
    }
  </ul>

  @helper.form(action = routes.Thread.create()) {
    @helper.inputText(threadForm("title"))
    @helper.textarea(threadForm("author"))
    <button type="submit">create</button>
  }

</body>
</html>
