@(thread: models.Thread, resList: List[models.Res])(resForm: Form[forms.Res])(implicit messages: Messages)
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <h1>@thread.title</h1>

  <a href='@routes.Application.index()'>Back</a>

  <ol>
    @resList.map { res  =>
      <li>
        <p>@res.name</p>
        <p>@res.message</p>
      </li>
    }
  </ol>

  @helper.form(action = routes.Res.create()) {
    @helper.inputText(resForm("name"))
    @helper.textarea(resForm("message"))
    <input type="hidden" name="threadId" value="@thread.id">
    <button type="submit">submit</button>
  }

</body>
</html>
