@(threadName: String, resList: List[models.Res])(resForm: Form[Res])
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <h1>@threadName</h1>

  <a href='@routes.Application.index()'>Back</a>

  <ul>
    @resList.map { res  =>
      <li>@res.message</li>
    }
  </ul>

  @helper.form(action = routes.Res.submit()) {
    @helper.inputText(resForm("name"))
    @helper.textarea(resForm("message"))
    <input type="hidden" name="threadId" value="1">
  }

</body>
</html>
